/* =========================
  BOTÓN DE PAGAR
========================= */
.payment-btn {
    min-height: 200px;
    transition: all 0.3s ease;
}
/* =========================
  EFECTO DE BOTÓN DE PAGAR
========================= */
.payment-btn:hover {
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(220, 53, 69, 0.2);
}
/* =========================
   ICONO DEL BOTÓN PAGAR
========================= */
.payment-btn i {
    font-size: 3.5rem;
    color: #ffffff;
    transition: transform 0.3s ease;
}

